
{% extends "vohni/base.html" %}

{% load static from staticfiles %}

{% block extra_css %}<link rel="stylesheet" type="text/css" href="{% static "css/blog.css" %}">{% endblock extra_css %}

{% block content %}

	<div class="container">
	  <div class="row">
		<div class="col-sm-12 col-xs-12 text-center">
		  <h2 class="blog_title">
			{{ post.title }}
          </h2>
        </div>
		<div class="col-sm-12 col-xs-12 text-center">
		<img src="{{ post.blog_photo.url }}" alt="" title="{{ post.blog_photo.url }}" class="blog_image_post">
		</div>
					
		<div class="col-sm-12 col-xs-12 blog_text_wrapper">
		  <p class="blog_text">{{ post.text }}</p>
		</div>
	  </div><!-- Main End -->
    </div>
{% endblock content %}