

{% extends "vohni/base.html" %}

{% load static from staticfiles %}

{% block extra_css %}<link rel="stylesheet" type="text/css" href="{% static "css/blog.css" %}">{% endblock extra_css %}

{% block content %}

	<div class="container main wrapper">
	  <div class="row">
	{% for post in object_list %}
		<div class="col-xs-12">

		  <div class="article_image col-sm-6 col-xs-12">
				<a href="#">
					<img class="blog_image_list" src="{{ post.blog_photo.url }}" alt="" title="">
				</a>
		  </div>
		  <div class="post col-xs-12 col-sm-5">
				<h1 class="title text-center">
					<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
				</h1>
				
				<p class="text-center">{{ post.description }}</p>

				<div class=" text-center">
				  <a class="read_more btn btn-primary" href="{{ post.get_absolute_url }}">читати далі <i class="read_more_arrow"></i> </a>
				</div>
		  </div>
		</div>
    {% empty %}
        <p>ще немає жодного запису у блозі</p>
    {% endfor %}
		
	</div>
	</div><!-- Main End -->

{% endblock content %}