
.blog_image_list {
	height: 300px;
	width: 100%;
	margin: 10px;
	padding: 10px;
}

.post {
	padding: 25px;
	margin: 25px;
}

.read_more {

}

.blog_title {
	margin: 25px;
}


.blog_image_post {
	width: 800px;
	height: 400px;

	
}

.blog_text_wrapper {
	padding: 45px;
	margin: 35px;
}

.blog_text {
	font-size: 18px;
	font-style: bold;
	padding-left: 35px;
	padding-right: 35px;
	text-align: justify;
}