{% extends "vohni/base.html" %}

{% load static from staticfiles %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="jumbotron col-sm-12 col-xs-12">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-2">
       <div class="container_flame first_flame">
          <div class="red flame"></div>
          <div class="orange flame"></div>
          <div class="yellow flame"></div>
          <div class="white flame"></div>
          <div class="blue circle"></div>
          <div class="black circle"></div>
        </div>
        <div class="container_flame third_flame">
          <div class="red flame"></div>
          <div class="orange flame"></div>
          <div class="yellow flame"></div>
          <div class="white flame"></div>
          <div class="blue circle"></div>
          <div class="black circle"></div>
        </div>
        <div class="container_flame fifth_flame">
          <div class="red flame"></div>
          <div class="orange flame"></div>
          <div class="yellow flame"></div>
          <div class="white flame"></div>
          <div class="blue circle"></div>
          <div class="black circle"></div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-6 text-center">
        <h2><span class="text-center">Мандрівничий осередок</span></h2>
        <h2><span class="text-center">"Вогні Святого Ельма"</span></h2>
           <p class="text-center"><a href="{% url "journeys" %}" class="btn btn-info btn-lg call_to_action">Гайда до мрії!</a></p>
      </div>
      <div class="col-sm-2 col-xs-2">
      <div class="container_flame second_flame">
          <div class="red flame"></div>
          <div class="orange flame"></div>
          <div class="yellow flame"></div>
          <div class="white flame"></div>
          <div class="blue circle"></div>
          <div class="black circle"></div>
        </div>

        <div class="container_flame fourth_flame">
          <div class="red flame"></div>
          <div class="orange flame"></div>
          <div class="yellow flame"></div>
          <div class="white flame"></div>
          <div class="blue circle"></div>
          <div class="black circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container actual_trip">
  <div class="row">
    <div class="col-sm-12 text-center"><h2 class="text-warning">Актуальні мандрівки</h2></div>

    {% for journey in journeys %}
      <div class="journeys_on_main_page col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 taize" style="background-image: url({{ journey.main_photo.url }});">
        <h3 class="text-center text-warning"><span>{{ journey.title|safe }}</span></h3>
          <h3 class="text-center text-warning"><span>{{ journey.cities|safe }}</span></h3>
          <h3 class="text-center text-warning"><span>{{ journey.price|safe }}</span></h3>
          <div class="text-center"><a class="btn btn-warning text-center" href="{{ journey.get_absolute_url }}">детальніше</a></div>
      </div>   
    {% endfor %}

  </div>
</div>



<div class="container advantages">
  <div class="row">
    <div class="col-sm-12 text-center"><h2 class="text-warning">Наші переваги</h2></div>
    
    <div class="col-sm-3 text-center">
      <h3>Спільнота</h3>
      <img class="images" src="/media/svg/three.svg">
      <p class="text-warning">Головне не куди, а з ким. Головна цінність - люди</p>
    </div>
    <div class="col-sm-3 text-center">
      <h3>Доступність</h3>
      <img class="images" src="/media/svg/bus.svg">
      <p class="text-warning">Ми намагаємось максимально оптимізувати витрати, щоб кожен зміг мандрувати</p>
    </div>
    <div class="col-sm-3 text-center">
      <h3>Цікаво</h3>
      <img class="images" src="/media/svg/travel.svg">
      <p class="text-warning">Ми відвідуємо ті місця, де є вдосталь цікавого для всіх</p>
    </div>
    <div class="col-sm-3 text-center">
      <h3>Розвиток</h3>
      <img class="images" src="/media/svg/buildings.svg">
      <p class="text-warning">Духовність перш за все</p>
    </div>

  </div>
</div>

<div class="container church">
  <div class="row">
    <div class="col-sm-5 col-xs-12 text-center">
      <img src="/media/img/draus.jpg" class="priest img-circle">    
    </div>
    <div class="col-sm-7 col-xs-12 text-center">
      <blockquote>
        <h2 class="text-warning">Подорож - це також Служіння</h2>
         <small>Отець Григорій Драус <cite title="Source Title">настоятель парафії св. Івана Павла II</cite></small>
      </blockquote>
    </div>
  </div>
</div>

<div class="container contacts">
  <div class="row">
    <div class="col-sm-12 col-xs-12 text-center">
      <h2 class="text-warning">Контакти</h2>
      
    </div>
      <div class="col-sm-4 col-xs-4 text-center">
        <img class="images" src="/media/svg/phone.svg">
          <h3 class="text-warning">+38 098 959 18 59</h3>
      </div>
      <div class="col-sm-4 col-xs-4 text-center">
        <h3 class="text-warning">Зв'яжіться з нами будь-яким зручним для Вас способом</h3>
      </div>
    <div class="col-sm-4 col-xs-4 text-center">
      <img class="images" src="/media/svg/mail.svg">
        <h3 class="text-warning">saintelmosfire@gmail.com</h3>
    </div>
  </div>
</div>

<div class="container social">
  <div class="row">
    <div class="col-sm-5 text-center fb_text">
      <h2 class="text-warning">Наша фейсбук сторінка</h2>
      <h4 class="text-warning">найактуальніші новини та цікавинки. Будьмо дружніми :)</h4>
    </div>
      <div class="col-sm-7 fb_widget text-center">
        <div class="fb-page" data-href="https://www.facebook.com/ElmosFire/" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ElmosFire/"><a href="https://www.facebook.com/ElmosFire/">Вогні святого Ельма</a></blockquote></div></div>
      </div>
  </div>
</div>

<div class="container map">
  <div class="row">

   <div class="col-sm-6" id="map"></div>
    <div class="col-sm-5 text-center location">
      <h3 class="text-warning">Завітайте до нас в гості</h3>
      <h4 class="text-warning">Парафія Івана Павла ІІ</h4>
      <h4 class="text-warning">м.Львів, Хуторівка, 35а</h4>
      <h4 class="text-warning">Філософсько-богословський факультет УКУ, 2 поверх</h4>
    </div>
  </div>
</div>


   

{% endblock content %}