{% extends "vohni/base.html" %}

{% load static from staticfiles %}


{% block extra_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.0/css/blueimp-gallery.min.css">
 <!--  <link rel="stylesheet" href="css/bootstrap-image-gallery.min.css"> -->
{% endblock extra_css %}

{% block content %}
      
    <div class="container">
    <div class="row">
    <div class="col-sm-9 col-sm-offset-1" id="trip" style="background-image: url({{ journey.main_photo.url }});">

      	<div class="main_info">
      	  <h2 class="text-center">{{ journey.title|safe }}</h2>
      	  <h3 class="text-center">{{ journey.cities|safe }}</h3>
      	</div>
      	<div>
      		<h4 class="text-center">{{ journey.price }}</h4>
           <div class="text-center"><a class="btn btn-info text-center" href="{% url "confirm" %}">Я хочу поїхати!</a></div>
      	</div>
    </div>
    <div class="col-sm-9 col-sm-offset-1">
    <ul class="nav nav-tabs details">
      <li class=""><a aria-expanded="false" href="#home" data-toggle="tab">Маршрут</a></li>
      <li class=""><a aria-expanded="true" href="#plan" data-toggle="tab">Умови</a></li>
      <li class=""><a aria-expanded="true" href="#docs" data-toggle="tab">Документи</a></li>
      <li class=""><a aria-expanded="true" href="#photo" data-toggle="tab">Фото</a></li>
     <li class=""><a aria-expanded="true" href="#additional" data-toggle="tab">Додаткові опції</a></li>

      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="home">
        <div>
        <p>hello world</p>
          <table>
            <tbody>
            
            {% for d in journey.day.all %}
            <tr>
                <td class="col-sm-2 name_days">{{ d.title_day }}</td>
                <td class="col-sm-10 text">{{ d.description|safe }}</td>
                </tr>
            {% endfor %}
                

            </tbody>
          </table>  
           
        </div>
      </div>
           

      <div class="tab-pane fade" id="plan">
        <div>
        
          <table>
            <tbody>
              <tr>
                <td class="col-sm-2 name_days">Пожертва</td>
                <td class="col-sm-9 text">{{ journey.donation|safe }}</td>
              </tr>
              <tr>
                <td class="col-sm-2 name_days">У вартість входить</td>
                <td class="col-sm-9 text">{{ journey.price_include|safe }}</td>
              </tr>
              <tr>
                <td class="col-sm-2 name_days">У вартість не входить</td>
                <td class="col-sm-9 text">{{ journey.price_not_include|safe }}</td>
              </tr>

            </tbody>
          </table>  
           
          </div>
       
      </div>
      <div class="tab-pane fade" id="docs">
        <p class="text">{{ journey.documents|safe }}</p>
      </div>
      <div class="tab-pane fade" id="additional">
        <p class="text">{{ journey.options|safe }}</p>
      </div>
     <div class="tab-pane fade" id="photo">
      <!--<h3 class="text-center">{{ journey.gallery.title }}"</h3>-->
      
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

    
      {% for photo in journey.gallery.public %}
    
      
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="links">   
          <a class="" href="{{ photo.image.url }}" title="{{ photo.title }}" data-gallery>
            <img class="photologue_photo" src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}">
          </a>
        </div>
  
       
      {% endfor %} 


  </div>
</div>

      </div>
    </div>


    
{% endblock content %}
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.0/js/jquery.blueimp-gallery.min.js"></script><!-- 
<script src="js/bootstrap-image-gallery.min.js"></script> -->
{% endblock extra_js %}